__pycache__
datasets
tensorflow
venv
graphs
mlruns
models
code.txt
sample.py
utils/archi_embedding.py
utils/stratified_sampling.py
utils/testmodel.py
utils/sorted datasets so far.txt
utils/code.txt

